{% extends 'base.html' %}

{% block body_block %}




    <div>
      <div>
        <div style="margin-left:440px;">
          <h1 style="font-family: 'Audiowide', cursive;
      font-family: 'Orbitron', sans-serif; font-size:56px; font-weight:500" >Payroll</h1>
        </div>
        <br>
        <div class="jumbotron">
          <h1>Please login</h1>
          <form action="{% url 'emp_app:index' %}" method="POST">
            {% csrf_token %}
            <label class="form-label" for="username">Username</label><br>
            <input type="text" class="form-control form-control-lg" name="username" placeholder="Enter username">
            <br><br>
            <label class="form-label" for="password">Password</label><br>
            <input type="password" class="form-control form-control-lg" name="password" placeholder="Enter password">
            <br>
            <input class="btn btn-outline-info" type="submit" name="" value="Login">
          </form>

        </div>

      </div>
    </div>


{%endblock%}
