{% extends 'base.html' %}

{% block body_block %}

  <script type="text/javascript">

      function confirm()
      {
        pwd = document.getElementById('pwd').value;
        cpwd = document.getElementById('cpwd').value;

        if(pwd!=cpwd)
        {
            document.getElementById('mismatch').innerHTML = "Password mismatch";
            return false;
        }
        return true;
      }

  </script>


<br>
<h1>Create password {{emp}}!</h1>
<br>

<form action="{% url 'emp_app:password' %}" method="post">
  {%csrf_token%}

  <input type="text" name="emplr" value="{{emplr}}" hidden>
  <input class="form-control" type="date" name="dob" value="{{dob}}" hidden>
  <input class="form-control" type="date" name="doj" value="{{doj}}" hidden>
  <input type="text" name="desig" class="form-control" value="{{desig}}" hidden>
  <input type="text" name="depart" class="form-control" value="{{depart}}" hidden>
  <input type="text" name="mng" class="form-control" value="{{mng}}" hidden>



  <div class="form-group">
      <label class="form-label">Username</label>
      <input type="text" name="emp_name" value="{{emp}}" class="form-control" readonly>
  </div>
  <br>

  <div class="form-group">
    <label class="form-label">Password</label>
    <input type="password" name="pwd" id="pwd" class="form-control">
  </div>
    <br>

  <div class="form-group">
    <label>Confirm Password:</label>
    <input type="password" name="cpwd" id="cpwd" class="form-control">
    <span id="mismatch"></span>
  </div>
    <br>

  <div class="form-group">
      <input type="submit" class="btn btn-outline-info" onclick="confirm()">
  </div>
  <br>

</form>


{%endblock%}
