{% extends 'base.html' %}

{% block body_block %}
<!-- JavaScript Bundle with Popper -->


  <br>
  <h1>Update Salary!</h1>
  <br>



  <form action="{% url 'emp_app:update_salary' %}" method="post">
    {%csrf_token%}

    <input type="text" name="emplyr_name" value="{{emplyr}}" hidden>
    <div class="form-group">
      <label>Employee</label>
      <select name="emp_name" class="form-control">

        {% for emp in employs %}

          <option value="{{emp}}">{{emp}}</option>

          {% endfor %}
      </select>

    </div>
    <br>


  <div class="form-group">
    <label class="form-label">Salary CTC</label>
    <input class="form-control" type="number" name="salary">
  </div>
  <br>

  <div class="form-group">
    <input class="btn btn-outline-info" type="submit" name="" value="Submit">
  </div>

  </form>

{% endblock %}
